dataset/*/*
*.bin
processed_images/*/*/*.png
raw_data/tiffs/*.tiff
raw_data/csvs/*.csv
test.py
*.arrow
test2.ipynb
wandb/*
wandb
*.safetensors
inference/inference_inputs/*
inference/inference_raw_imgs/*/*.png
inference_dataset/*
training/eval_cache
*.lock
