numpy
scikit-learn
gradio
datasets
pillow
-i https://download.pytorch.org/whl/cu124
torch
-i https://download.pytorch.org/whl/cu124
torchaudio
-i https://download.pytorch.org/whl/cu124
torchvision
opencv-python
evaluate
huggingface


matplotlib